apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-app-lissy
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/LissyASha/demo-argocd.git
    targetRevision: HEAD
    path: k8s-manifest
  destination:
    server: https://kubernetes.default.svc
    namespace: demo-lissy
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
